.container {
	position: relative;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid color-mix(in srgb, white, black 10%);
	background-color: #f1f1f1;
	scroll-margin-top: 5rem;
}

.title {
	margin-bottom: 5px;
}

.title span,
.form label {
	text-transform: uppercase;
	color: color-mix(in srgb, white, black 50%) !important;
	font-weight: bold;
	font-size: 0.7rem;
}

.form label {
	text-transform: inherit;
	color: color-mix(in srgb, white, black 40%) !important;
}

.form {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form div {
	display: flex;
	align-items: flex-end;
	gap: 5px;
}
