.container {
	margin: 30px 30px 30px 30px;
}

.main {
	display: flex;
}

.column:nth-child(1) {
	width: 20%;
	max-height: 90vh;
	min-width: 370px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
