.main {
	margin-top: 40px;
	min-height: 90vh;
}

.container {
	margin: 0px 30px 0px 30px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	height: 100%;
}

.container aside:nth-child(1) {
	width: 20%;
	min-width: 280px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 60%;
	height: 100%;
	min-height: 90vh;
}

.filters {
	margin-top: -10px;
	border-radius: 8px;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: var(--meteorite-color);
}
.filters span {
	color: white !important;
	font-weight: 500;
	cursor: pointer;
}
.container aside:nth-child(3) {
	width: 20%;

	min-width: 280px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
