.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftside {
	position: relative;
	z-index: -10;
	background-image: linear-gradient(
		-0.4turn,
		var(--meteorite-color) 40%,
		var(--lavender-color)
	);
	height: 100%;
	width: 70%;
	box-shadow: var(--active-shadow);
	box-sizing: border-box;
}
.content {
	margin: 0 70px 0 70px;
	height: 100%;
}
.logo {
	text-align: center;
}

.rightside {
	position: relative;
	z-index: 100;
	width: 30%;
	min-width: 550px;
	height: 100%;
}
