/* Home page */
.main {
	margin: 20px 20px 0 20px;
}

.container {
	position: relative;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}

/* Hero  */
.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-height: 770px;
	height: 100%;
	background-color: rgb(var(--layer-color));
	border-radius: 14px 14px 0 14px;
}

.hero::before {
	z-index: -10;
	position: absolute;
	content: url("../../../public/images/icons/arrow_icon.svg");
	width: 20px;
	bottom: 0px;
	right: 0px;
	background-color: color-mix(in srgb, #372f37, white 3%);
	border-radius: 14px 0 0 0;
	padding: 20px;
}

/* Services */

.services {
}

.services__container {
	display: flex;
	justify-content: center;
}

.services__header h2 {
	text-align: left;
	padding-left: 20px;
	font-size: 4rem;
}

.services__header p {
	margin-top: -40px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 70px;
	font-size: 2rem;
	font-weight: 100;
}

/* line  */
.line {
	margin: 200px 0 200px 0;
	margin-inline: auto;
	width: 80%;
	height: 1px;
	/* background-color: color-mix(in srgb, var(--white-color), black 25%); */
	/* background-color: var(--meteorite-color); */
	background-color: white;
}
/* features  */

.features {
	display: flex;
	flex-direction: column;
	gap: 120px;
}
