/* Home page */
.main {
	margin: 20px 20px 0 20px;
}

.container {
	position: relative;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
}

/* Hero  */
.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-height: 770px;
	height: 100%;
	background-color: rgb(var(--layer-color));
	border-radius: 14px 14px 0 14px;
}

.hero::before {
	z-index: -10;
	position: absolute;
	content: url("../../../public/images/icons/arrow_icon.svg");
	width: 20px;
	bottom: 0px;
	right: 0px;
	background-color: color-mix(in srgb, #372f37, white 3%);
	border-radius: 14px 0 0 0;
	padding: 20px;
}

/* Services */

.services {
	height: 100vh;
}

.services__background {
	padding: 20px;
	border-radius: 14px;
}

.services__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.services__header h2 {
	text-align: left;
	padding-left: 20px;
	font-size: 4rem;
}

.services__header p {
	margin-top: -40px;
	margin-bottom: 0px;
	text-align: left;
	margin-left: 70px;
	font-size: 2rem;
	font-weight: 100;
}

.services__progress {
	margin-right: 20px;
	align-self: flex-end;
	margin-bottom: 25px;
	width: 20%;
	height: 5px;
	border-radius: 20px;
	background-color: #fafafa;
}

.services__progress > div {
	width: 0%;
	max-width: 100%;
	height: 5px;
	border-radius: 20px;
	background: linear-gradient(
		-135deg,
		var(--meteorite-color) 0%,
		var(--lavender-color) 40%
	);
	transition: width ease-out 150ms;
}
