.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: linear-gradient(
		to right,
		var(--meteorite-color) 37%,
		var(--lavender-color) 70%
	);
	height: 100vh;
	background-size: 200% 200%;
	background-position: 50% 50%;
	transition: all 450ms linear;
	/* animation: back forwards infinite 2s; */
}

/* @keyframes back {
	from {
		background-position: 50% 50%;
	}
	to {
		background-position: 100% 100%;
	}
} */

.header {
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}

.header h2 {
	position: relative;
	top: 40px;
	font-size: 5rem;
	margin: 0;
	padding: 0;
	text-size-adjust: auto;
	backface-visibility: hidden;
	transform: translateZ(0);
	will-change: transform;
	transition: 450ms all linear;
}
.visible {
	opacity: 1;
	transition: 250ms all linear;
}
.hidden {
	opacity: 0;
}

/* BOTTOM  */

.bottom {
	text-align: center;
	padding: 20px;
}

.bottomWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.limiter:first-child {
	width: 15px;
	height: 45px;
	border-top: 2px solid rgba(var(--layer-color));
	border-left: 2px solid rgba(var(--layer-color));
	border-bottom: 2px solid rgba(var(--layer-color));
}

.limiter:last-child {
	width: 15px;
	height: 45px;
	border-top: 2px solid rgba(var(--layer-color));
	border-right: 2px solid rgba(var(--layer-color));
	border-bottom: 2px solid rgba(var(--layer-color));
}

/* LEFT ARROWS  */
.arrows {
	display: flex;
	flex-direction: row-reverse;
	gap: 120px;
}

.arrow div:first-child {
	width: 20px;
	height: 2px;
	rotate: -21deg;
	translate: 0 -3px;
	background-color: rgba(var(--layer-color));
}

.arrow div:last-child {
	width: 20px;
	height: 2px;
	rotate: 21deg;
	translate: 0 3px;
	background-color: rgba(var(--layer-color));
}

/* RIGHT ARROWS  */
.arrows:nth-child(4) {
	display: flex;
	flex-direction: row !important;
}

.arrows:nth-child(4) .arrow div:first-child {
	width: 20px;
	height: 2px;
	rotate: 21deg;
	translate: 0 -3px;
	background-color: rgba(var(--layer-color));
}

.arrows:nth-child(4) .arrow div:last-child {
	width: 20px;
	height: 2px;
	rotate: -21deg;
	translate: 0 3px;
	background-color: rgba(var(--layer-color));
}

/* EVERY ARROWS  */

.arrow {
	opacity: 0;
}
.arrows .arrow:nth-child(1) {
	animation: arrows 250ms forwards 250ms;
}
.arrows .arrow:nth-child(2) {
	animation: arrows 250ms forwards 450ms;
}
.arrows .arrow:nth-child(3) {
	animation: arrows 250ms forwards 650ms;
}
.arrows .arrow:nth-child(4) {
	animation: arrows 250ms forwards 850ms;
}

@keyframes arrows {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.move {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	z-index: 1000;
	cursor: pointer;
	color: var(--meteorite-color);
	padding: 10px;
	background-color: white;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 500;
	box-shadow: var(--passive-shadow);
	transition: 50ms linear all;
	user-select: none;
}

.move:hover {
	box-shadow: var(--active-shadow);
	transition: 100ms linear all;
}

.move:active {
	cursor: grab;
	box-shadow: var(--active-shadow);
	color: var(--lavender-color);
}
