.container {
	position: relative;
	background-color: #f1f1f1;
	box-shadow: -1px 1px 2px color-mix(in srgb, white, black 10%),
		1px -1px 2px color-mix(in srgb, white, black 10%);
	width: 100%;

	border-radius: 4px;
	padding: 20px;
	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.header span {
	font-weight: 600;
	font-size: 1.2rem;
}

.content {
	display: flex;
	flex-direction: column;

	gap: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.users {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	/* max-width: 350px; */
	/* background-color: red; */
}

.users img {
	border-radius: 50%;
}

.users div:nth-child(2) {
	align-self: center;
	width: 50%;
	/* background-color: red; */
}

.users .names {
	font-weight: 500;
}

.users .username {
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--lavender-color);
}

.footer span {
	font-weight: 400;
	color: var(--lavender-color);
}

.footer span:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 1450px) {
	.header span {
		font-size: 1rem;
	}

	.users .names {
		font-weight: 500;
		font-size: 0.9rem;
	}
	/* .users .username {
		font-size: 0.7rem;
		font-weight: 600;
		color: var(--lavender-color);
	} */
}

@media (max-height: 880px) {
	.header span {
		font-size: 1rem;
	}

	.users .names {
		font-weight: 500;
		font-size: 0.8rem;
	}
	.users .username {
		font-size: 0.7rem;
		font-weight: 600;
		color: var(--lavender-color);
	}
}

@media (max-height: 850px) {
	.container {
		display: none;
	}
}
