.container {
	position: absolute;
	z-index: 99999;
	background-color: white;

	padding-right: 0px;
	border-radius: 0px 8px 8px 8px;
	top: 40px;
	left: 10px;
	/* width: 450px; */
	width: max-content;
	/* min-height: 350px; */
	box-shadow: var(--active-shadow);
}

.header {
	padding: 12px;
	background-color: var(--meteorite-color);
	color: white;
	border-radius: 0 8px 0 0;
}
.header span {
	font-weight: 600;
	font-size: 1.2rem;
	color: white !important;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 12px;
}

.content span {
	font-weight: 300;
	font-size: 0.9rem;
}

.date div {
	margin-top: 4px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
}

.time div {
	margin-top: 4px;
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
}

.wrapper select {
	padding: 5px;
	padding-top: 20px;
	font-size: 1rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(var(--layer-color));
	outline-color: var(--meteorite-color);
	border-radius: 4px;
}

.wrapper select:active {
	border: 2px solid var(--meteorite-color);
	/* border-bottom: inherit; */
	background: rgb(var(--layer-color));
}

.wrapper option::first-letter {
	text-transform: uppercase;
}

.wrapper button {
	font-size: 0.9rem;
	font-weight: 500;
	/* padding: 5px;
	border-radius: 4px;
	height: 35px; */

	background: inherit;
	box-shadow: inherit;
	color: var(--meteorite-color);
}
.footer {
	padding: 12px;
	font-size: 0.8rem;
	font-weight: 300;
}

.footer p {
}

.input {
	position: relative;
}

.input span {
	position: absolute;
	font-weight: 300;
	top: 4px;
	left: 10px;
	font-size: 0.8rem;
}
