.container {
	position: relative;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 8px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
}

.anim img {
	animation: forwards moonAnimDark 450ms;
}

@keyframes moonAnimDark {
	0% {
		transform: rotate(0) translate(0px, 0px);
	}
	30% {
		transform: rotate(0deg) translate(-30px, 30px);
	}
	60% {
		transform: rotate(0deg) translate(30px, 30px);
	}
	to {
		transform: rotate(0deg) translate(0px, 0px);
	}
}
/* 



} */
