.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin: 0 70px 0 70px;
}

.titles {
	text-align: left;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid color-mix(in srgb, var(--white-color), black 65%);
}

.titles h2 {
	font-size: 1rem;
	font-weight: 400;
}

.labels {
	display: flex;
	justify-content: space-between;
}

.form input {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 40px 15px 40px;
	background-color: inherit;
	border: none;
	outline: none;
	border-radius: 8px;
	border: 1px solid color-mix(in srgb, var(--white-color), black 65%);
	box-shadow: var(--passive-shadow);
	caret-color: var(--meteorite-color);
	transition: 150ms all linear;
	color: white;
	font-size: 1rem;
	font-weight: 600;
	box-sizing: border-box;
	width: 100%;
}

.form input:focus {
	border: 1px solid var(--meteorite-color);
	transition: 150ms all linear;
	background: rgb(var(--layer-color));
}

.email {
	background-image: url("../../../../public/images/icons/email_icon.svg") !important;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 12px center !important;
}

.errorMsg {
	color: red;
	font-weight: bold;
	font-style: inherit;
	font-size: 0.9rem;
	position: relative;
	top: -2px;
}

/* BUTTON  */

.form button {
	width: 100%;
	font-weight: 500;
}

/* TEXT */

.text {
	margin-top: 10px;
	text-align: center;
	font-weight: 300;
}

.text span {
	color: var(--lavender-color);
	font-weight: bold;
	cursor: pointer;
}
