.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 70px 0 70px;
	height: 100%;
}

/* titles  */
.titles {
	text-align: left;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid color-mix(in srgb, var(--white-color), black 65%);
}

.titles h2 {
	font-size: 1rem;
	font-weight: 400;
}

/* form  */

.form {
	position: relative;
	margin-bottom: 10px;
}

.form .labels {
	display: flex;
	justify-content: space-between;
}

.form input {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 40px 15px 40px;
	background-color: inherit;
	border: none;
	outline: none;
	border-radius: 8px;
	border: 1px solid color-mix(in srgb, var(--white-color), black 65%);
	box-shadow: var(--passive-shadow);
	caret-color: var(--meteorite-color);
	transition: 150ms all linear;
	color: white;
	font-size: 1rem;
	font-weight: 600;
	box-sizing: border-box;
	width: 100%;
}

.form input:not([type="radio"]):focus {
	border: 1px solid var(--meteorite-color);
	transition: 150ms all linear;
	background: rgb(var(--layer-color));
}

.email {
	background-image: url("../../../../public/images/icons/email_icon.svg") !important;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 12px center !important;
}

.password {
	background-image: url("../../../../public/images/icons/password_icon.svg") !important;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 12px center !important;
}

.visible {
	position: absolute;
	margin-top: -45px;
	right: 12px;
	filter: invert(1) brightness(60%);
}

.visible:hover {
	cursor: pointer;
	filter: invert(1) brightness(70%);
}

.form button {
	margin-top: -10px;
	width: 100%;
	font-weight: 500;
}

.error {
	border: 1px solid red !important;
}

.error::placeholder {
	transition: 150ms all linear;
	color: red;
}

.errorMsg {
	color: red;
	font-weight: bold;
	font-style: inherit;
	font-size: 0.9rem;
	position: relative;
	top: -2px;
}

/* FORGOT PASSWORD  */

.forgotPassword {
	color: var(--lavender-color);
	text-align: right;
}

.forgotPassword span:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* bottom text  */

.text {
	text-align: center;
	font-weight: 300;
}

.text span {
	color: var(--lavender-color);
	font-weight: bold;
	cursor: pointer;
}

/* MEDIA QUERIES  */

@media (max-width: 1000px) {
	.form button {
		font-size: 1.2rem;
	}
}

@media (max-width: 500px) {
	.container {
		margin: 0 20px 0 20px;
	}
}

@media (max-width: 480px) {
	.form button {
		font-size: 1.1rem;
	}
}
