.tracker {
	position: relative;
	background-color: white;
	width: 4px;
	height: 500px;
	border-radius: 14px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.tracker::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 0%;
	width: 4px;
	background-color: var(--meteorite-color);
}

.tracker[data-step="1"]::before {
	height: 20%;
	transition: all 150ms linear;
}

.tracker[data-step="2"]::before {
	height: 50%;
	transition: all 150ms linear;
}

.tracker[data-step="3"]::before {
	height: 100%;
	transition: all 150ms linear;
}

.tracker div {
	position: relative;
	top: 0;
	left: -23px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 50%; /* may require vendor prefixes */
	color: color-mix(in srgb, var(--white-color), black 65%);
}

.unactive {
	background-color: white;
	transition: all 150ms linear;
}

.active {
	background-color: var(--meteorite-color);
	transition: all 150ms linear 150ms;
	color: white !important;
}
