.container {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.tracker {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	width: 4px;
	height: 100%;
	border-radius: 14px;
}
.tracker::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 0%;
	width: 4px;
	background-color: var(--lavender-color);
}

.tracker[data-step="1"]::before {
	height: 25%;
	transition: all 150ms linear;
}

.tracker[data-step="2"]::before {
	height: 50%;
	transition: all 150ms linear;
}

.tracker[data-step="3"]::before {
	height: 85%;
	transition: all 150ms linear;
}

.tracker[data-step="4"]::before {
	height: 100%;
	transition: all 150ms linear;
}
