.container {
	height: 100vh;
	margin: 0 20px 0 20px;
	font-weight: 300;
}

.background {
	position: relative;
	top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--layer-color));
	height: 95%;
	width: 100%;
	border-radius: 14px;
	text-align: center;
}

.container h2 {
	margin: 0;
	padding: 0;
	font-size: 3rem;
}

.container img {
	filter: invert(21%) sepia(76%) saturate(3304%) hue-rotate(257deg)
		brightness(85%) contrast(100%);
}

.container .buttons {
	display: flex;
	gap: 20px;
}

.container .buttons button {
	min-width: 220px;
}
.container a {
	font-weight: bold;
	color: var(--lavender-color);
}
