.header {
	position: sticky;
	top: 0;
	z-index: 2500;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
	transition: 100ms all linear;
	translate: 0 0px;
	margin-bottom: -20px;

	max-height: 65px;
	width: 100%;
}

.slide {
	background-color: var(--meteorite-color);
	box-shadow: var(--passive-shadow);
	transition: 100ms all linear;
}

.disapear {
	translate: 0 -150px;
	transition: 180ms all linear;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 20px;
}

.logo a {
	position: relative;
	top: -5px;
	display: flex;
	align-items: center;
}

.logo h1 {
	margin: 10px 0 0 -10px;
	font-size: 2rem;
}
.logo input {
	background-color: rgba(var(--layer-color));
	border: none;
	border-radius: 8px;
	padding: 8px;
	outline: none;
	width: 310px;
	caret-color: white;
}
.logo input::placeholder {
	font-weight: bold;
}

.menu {
	margin-right: 20px;
}
.menu ul {
	position: relative;
	top: 0px;
	padding: 0;
	display: flex;
	gap: 20px;
	font-size: 1.2rem;
	font-weight: 500;
	list-style-type: none;
}

.menu .connected {
	border-radius: 8px;
	align-items: center;
}

.menu .connected img {
	filter: invert(1);
}

.menu .connected li:nth-child(3) {
	background-color: rgba(var(--layer-color));
	width: 2px;
	height: 40px;
}

.menu .connected li:nth-child(4) {
	font-size: 0.9rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(var(--layer-color));
	width: 200px;
	height: 40px;
	border-radius: 12px;
	transition: 150ms all linear;
}

.menu .connected li:nth-child(4):hover {
	background-color: var(--meteorite-color);
	cursor: pointer;
	transition: 150ms all linear;
}

.menu .connected li:nth-child(4) img:nth-child(1) {
	border-radius: 50%;
	filter: invert(0) !important;
}

.menu .connected span:nth-child(1) {
	margin-bottom: -20px;
}

.menu .connected span:nth-child(3) {
	font-size: 0.8rem;
	font-weight: 300;
}

@media (max-width: 800px) {
	.menu {
		display: none;
	}
}
