.header {
	position: sticky;
	top: 0;
	z-index: 9500;
	height: 60px;
	/* opacity: 0; */
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	transition: 100ms background-color linear;
	translate: 0 0px;
	margin-bottom: -20px;
	/* background-color: var(--meteorite-color); */
	max-height: 65px;
	width: 100%;
}

.slide {
	background-color: var(--meteorite-color);
	color: white;
	box-shadow: var(--passive-shadow);
	transition: 100ms background-color linear;
}

.disapear {
	translate: 0 -150px;
	transition: 180ms all linear;
}

.logo {
	margin-left: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo a {
	position: relative;
	top: -5px;
	display: flex;
	align-items: center;
}

.logo h1 {
	margin: 10px 0 0 -10px;
	font-size: 2rem;
}

.searchbar {
	position: relative;
	width: 20%;
	left: 120px;
}
.searchbar input {
	border: none;
	border-radius: 8px;
	padding: 8px;
	outline: none;
	width: 100%;
	box-shadow: var(--passive-shadow);
}
.menu {
	display: flex;
	align-items: center;
	margin-right: 30px;
	gap: 20px;
}
/* .menu {
	position: relative;
	display: flex;
	align-items: center;
}
.menu .btn {
	background-color: red;
	position: absolute;
	right: -120px;
} */
.menu ul {
	position: relative;
	top: 0px;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 1.2rem;
	font-weight: 500;
	list-style-type: none;
}

.menu .connected {
	border-radius: 8px;
	align-items: center;
}

.menu .connected img {
	filter: invert(1);
}

.menu .connected li:nth-child(3) {
	background-color: rgba(var(--layer-color));
	width: 2px;
	height: 40px;
}

.menu .connected li:nth-child(4) a {
	font-size: 0.9rem;
	display: flex;
	padding: 10px;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	box-shadow: var(--passive-shadow);
	color: black;
	height: 40px;
	border-radius: 8px;
	transition: 150ms all linear;
}

.menu .connected li:nth-child(4):hover {
	background-color: color-mix(in srgb, white 90%, black);
	cursor: pointer;
	transition: 150ms all linear;
}

.menu .connected li:nth-child(4) img:nth-child(1) {
	border-radius: 50%;
	filter: invert(0) !important;
}

.menu .connected li:nth-child(4) img:nth-child(2) {
	filter: invert(0) !important;
}

.menu .connected li:nth-child(5) img:nth-child(1) {
	filter: invert(0) !important;
}

.menu .connected li:nth-child(6) {
	position: relative;
	top: 2px;
	left: -4px;
}

.menu .connected span:nth-child(1) {
	margin-bottom: -20px;
}

.menu .connected span:nth-child(3) {
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--meteorite-color);
}

@media (max-width: 800px) {
	.menu {
		display: none;
	}
}
