.header {
	position: sticky;
	top: 0;
	z-index: 2500;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background-color: transparent;
	transition: 100ms all linear;
	translate: 0 0px;
	margin-bottom: -20px;
	background-color: var(--meteorite-color);
}

.slide {
	background-color: var(--meteorite-color);
	box-shadow: var(--passive-shadow);
	transition: 100ms all linear;
}

.disapear {
	translate: 0 -150px;
	transition: 180ms all linear;
}

.logo a {
	position: relative;
	top: -5px;
	display: flex;
	align-items: center;
}

.logo h1 {
	margin: 10px 0 0 -10px;
	font-size: 2rem;
}

.menu ul {
	position: relative;
	top: 0px;
	padding: 0;
	display: flex;
	gap: 20px;
	font-size: 1.2rem;
	font-weight: 500;
	list-style-type: none;
}

@media (max-width: 800px) {
	.menu {
		display: none;
	}
}
