.container {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; */
}
.header {
	position: relative;
	background-color: white;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .back {
	width: 20px;
	height: 20px;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	transition: 150ms all linear;
}
.header .back:hover {
	background-color: #f1f1f1;

	transition: 150ms all linear;
}
.header img {
	border-radius: 50%;
}
.connectivity {
	position: absolute;
	left: 77px;
	bottom: 8px;
	width: 10px;
	height: 10px;
}

.connectivity[data-connected="false"] {
	color: grey;
}
.connectivity[data-connected="true"] {
	color: #26df20;
}
.names {
	display: flex;
	flex-direction: column;
}
.names span:nth-child(1) {
	font-weight: 500;
	font-size: 0.8rem;
}

.names span:nth-child(2) {
	color: var(--meteorite-color);
	font-size: 0.8rem;
}
/* CONVERSATION  */

.conversation {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 310px;
	max-height: 310px;
	padding: 10px;
	overflow: auto;
}
.options {
	position: relative;
	cursor: pointer;
	/* visibility: hidden; */
	/* color: color-mix(in srgb, white, black 50%) !important; */
}
.more {
	position: relative;
}
.popup {
	position: absolute;
	width: 140px;
	z-index: 9999;
	bottom: -2px;
	right: -2px;
	background-color: white;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-radius: 8px;
	box-shadow: var(--active-shadow);
}

.popup span {
	display: flex;
	justify-content: space-between;
}

.message {
}
.message,
.options {
	display: flex;
	align-items: center;
	gap: 10px;
}
.message[data-self="false"] {
	flex-direction: row-reverse;
	align-self: flex-start;
}
.message[data-self="true"] {
	align-self: flex-end;
}
.message[data-self="false"] .content {
	background-color: white;
	color: black;
}

.content {
	background-color: var(--meteorite-color);
	max-width: fit-content;
	padding: 10px;
	border-radius: 8px;
	max-width: 220px;
	transition: 150ms linear all;
}
.content p {
	margin: 0;
	font-size: 0.9rem;
	font-weight: 500;
}

.message[data-self="true"] .content div {
	text-align: right;
}
.message[data-self="true"] .content div span {
	color: white;
}
.content div {
	margin-top: 5px;
	font-size: 0.7rem;
	font-weight: 500;
}

.message[data-self="false"] .content:hover {
	background-color: color-mix(in srgb, white, black 20%);
}
.content:hover {
	transition: 150ms linear all;
	background-color: var(--lavender-color);
	cursor: pointer;
}

.message[data-self="true"] .content p {
	color: #f1f1f1;
}

.form {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 10px 5px 5px;
	/* height: 50px; */
	background-color: white;
}
.form form {
	display: flex;
	align-items: center;
	gap: 5px;
}
.input {
	width: 100%;
}
.form textarea {
	overflow: hidden;
	width: 100%;
}
.form:has(textarea:focus) .icons:nth-child(1) {
	width: 5%;
}

.icons {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
	color: var(--meteorite-color);
}

.icons svg,
.icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.icons button {
	background-color: transparent;
	background-image: none;
	padding: 0;
	color: var(--meteorite-color);
}

.icons button[data-disabled="true"] {
	color: color-mix(in srgb, var(--meteorite-color), white 50%);
}

.icon {
	filter: invert(16%) sepia(75%) saturate(6658%) hue-rotate(264deg)
		brightness(91%) contrast(85%);
}

.typing {
	display: flex;
	gap: 10px;
	padding: 10px;
	color: grey;
	background-color: var(--white-color);
	max-width: fit-content;
	border-radius: 8px;
	font-size: 0.8rem;
	font-weight: 500;
}

.typing svg {
	width: 10px;
	height: 10px;
	opacity: 0.5;
	animation: typing 1s infinite;
}

.typing svg:nth-child(1) {
	animation-delay: 0s;
}

.typing svg:nth-child(2) {
	animation-delay: 0.2s;
}

.typing svg:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes typing {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes appear {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}
