.container {
	display: flex;
	align-items: center;

	gap: 5px;
	flex-wrap: wrap;
}

.container img {
	transition: 80ms all linear;
}

.container img:hover {
	scale: 1.08;
	transition: 80ms all linear;
}
