.container {
	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	height: 50px;
	padding: 5px;
}

.header svg {
	position: relative;
	left: -1px;
	width: 20px;
	height: 20px;
	color: var(--meteorite-color);
	padding: 5px;
	border-radius: 8px;
	transition: 150ms all linear;
}

.header svg:hover {
	background-color: white;
	color: var(--lavender-color);
	transition: 150ms all linear;
	cursor: pointer;
}

.conversation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 140px;
}

.conversation input {
	text-align: center;
}

.conversation img {
	border-radius: 50%;
}

.form {
	margin-top: -5px;
	max-height: 50px;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name span {
	font-size: 0.8rem;
}
.name span:nth-child(1) {
	font-weight: 500;
	font-size: 1rem;
}

.name span:nth-child(2) {
	color: var(--lavender-color);
	font-weight: 600;
}

.actionsWrapper {
	padding: 0 10px 0 10px;
}

.actions {
	border-radius: 8px;
	background-color: white;
	width: 100%;
	box-shadow: -1px 1px 2px color-mix(in srgb, white, black 10%),
		1px -1px 2px color-mix(in srgb, white, black 10%);
}

.actions ul {
	display: flex;
	flex-direction: column;
}
.actions li:first-child {
	border-radius: 8px 8px 0 0;
}
.actions li {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	transition: 150ms all linear;
}
.actions li :not(.underline) {
	padding: 12px;
}
.actions li:hover {
	background-color: #f1f1f1;
	transition: 150ms all linear;
}
.actions .underline {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.actions li svg {
	width: 18px;
	height: 18px;
	color: var(--meteorite-color);
}

.actions li:last-child,
.actions li:last-child svg {
	color: red;
	border-bottom: inherit;
	border-radius: 0 0 8px 8px;
}

.buttons {
	margin-top: 5px;
}
.buttons p {
	font-size: 0.7rem;
	margin: 0;
}
.buttons button {
	background-color: transparent;
	background-image: inherit;
	box-shadow: inherit;
	font-size: 0.7rem;
	padding: 0;
	color: var(--meteorite-color);
	margin: 0;
}

.buttons button:hover {
	text-decoration: underline;
}
