.container {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; */
}
.header {
	background-color: white;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}
.header svg {
	width: 20px;
	height: 20px;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	transition: 150ms all linear;
}
.header svg:hover {
	background-color: #f1f1f1;

	transition: 150ms all linear;
}
.header img {
	border-radius: 50%;
}
.names {
	display: flex;
	flex-direction: column;
}
.names span:nth-child(1) {
	font-weight: 500;
	font-size: 0.8rem;
}

.names span:nth-child(2) {
	color: var(--meteorite-color);
	font-size: 0.8rem;
}
/* CONVERSATION  */

.conversation {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 295px;
	max-height: 295px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: auto;
}
.options {
	color: color-mix(in srgb, white, black 50%) !important;
}
.message,
.options {
	display: flex;
	align-items: center;
	gap: 10px;
}

.message[data-self="true"] {
	align-self: flex-end;
}
.message[data-self="false"] .content {
	background-color: white;
	color: black;
}

.content {
	background-color: var(--meteorite-color);
	max-width: fit-content;
	padding: 10px;
	border-radius: 8px;
}
.content p {
	margin: 0;
	font-size: 0.8rem;
	font-weight: 500;
}

.message[data-self="true"] .content p {
	color: #f1f1f1;
}

.form {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 10px 5px 5px;
	/* height: 50px; */
	background-color: white;
}
.form form {
	display: flex;
	align-items: center;
	gap: 5px;
}
.input {
	width: 100%;
}
.form textarea {
	overflow: hidden;
	width: 100%;
}
.form:has(textarea:focus) .icons:nth-child(1) {
	width: 5%;
}

.icons {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
	color: var(--meteorite-color);
}

.icons svg,
.icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.icons button {
	background-color: transparent;
	background-image: none;
	padding: 0;
	color: var(--meteorite-color);
}

.icons button[data-disabled="true"] {
	color: color-mix(in srgb, var(--meteorite-color), white 50%);
}

.icon {
	filter: invert(16%) sepia(75%) saturate(6658%) hue-rotate(264deg)
		brightness(91%) contrast(85%);
}
