.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
}

.container[data-self="false"] {
	flex-direction: column;
	align-items: flex-start;
}

.container[data-self="true"] {
	align-self: flex-end;
}

.container[data-self="false"] .message {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
}

.message {
	display: flex;
	gap: 10px;
}

.options,
.messageOptions {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* TEXT  */

.text {
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	max-width: 250px;
	width: fit-content;
	transition: 150ms linear all;
}

.text:hover {
	transition: 150ms linear all;
	background-color: color-mix(in srgb, white, black 20%);
}

.container[data-self="true"] .text {
	background-color: var(--meteorite-color);
}

.container[data-self="true"] .text:hover {
	background-color: var(--lavender-color);
}

.text pre {
	margin: 0;
	font-size: 0.9rem;
	font-weight: 500;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.container[data-self="true"] .text pre {
	color: white;
}

.text a {
	text-decoration: underline;
	color: #50afe4;
}
.text a:visited {
	color: #50afe4;
}
.text iframe {
	margin-top: 10px;
	width: 230px;
	height: 200px;
	border-radius: 8px;
}

/* MEDIA  */

.media,
.gif {
	margin-top: 5px;
	width: 100%;

	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}

.gif {
	width: 100%;
	height: 120px;
}

.reaction {
	display: flex;
	align-items: center;
	gap: 5px;
}

.reaction span {
	position: relative;
	top: -1px;
	font-size: 0.7rem;
	font-weight: 500;
	color: color-mix(in srgb, white, black 50%) !important;
}

/* DATES  */
.dates {
	cursor: default;
}
.dates span {
	padding: 5px;
	font-size: 0.7rem;
	font-weight: 500;
	color: color-mix(in srgb, white, black 50%) !important;
}
