.container {
	background-color: var(--meteorite-color);
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	max-width: 250px;
}

.container textarea {
	background-color: #f1f1f1;
	border: none;
	max-height: 200px;
	overflow: hidden;
}

.media {
	margin-top: 5px;
	width: 100%;
	max-width: fit-content;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
}

.buttons {
	margin-top: 5px;
}
.buttons p {
	font-size: 0.7rem;
	margin: 0;
	color: white !important;
}
.buttons button {
	background-color: transparent;
	background-image: inherit;
	box-shadow: inherit;
	font-size: 0.7rem;
	padding: 0;
	color: #50afe4;
}

.buttons button:hover {
	text-decoration: underline;
}
.buttons button:last-child {
	/* font-weight: 500; */
}
