.container {
	position: relative;
	background-color: rgba(var(--layer-color));
	width: 100%;
	height: fit-content;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header span {
	font-weight: 600;
	font-size: 1.2rem;
}

.content {
	display: flex;
	flex-direction: column;

	gap: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.users {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	/* max-width: 350px; */
	/* background-color: red; */
}

.users img {
	border-radius: 50%;
}

.users div:nth-child(2) {
	align-self: center;
	width: 50%;
	/* background-color: red; */
}

.users .names {
	font-weight: 500;
}

.users .username {
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--lavender-color);
}

.footer span {
	font-weight: 400;
	color: var(--lavender-color);
}

.footer span:hover {
	text-decoration: underline;
	cursor: pointer;
}
