.container {
	position: relative;
	z-index: 2000;
	background-color: rgba(var(--layer-color));
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.form {
	display: flex;
	align-items: center;
	gap: 20px;
	height: 100%;
	width: 100%;
}

.form img {
	border-radius: 50%;
}

.text {
	width: 100%;
}
.form input {
	width: 100%;
	height: 60px;
	border-radius: 8px;
	outline: none;
	padding: 10px;
	border: none;
	background-color: rgba(225, 225, 225, 0.5);
}

.list {
	margin-left: 80px;
}
.list ul {
	display: flex;

	gap: 20px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
