.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 20px;
	overflow: hidden;
}

.left,
.right {
	position: relative;
	width: 620px;
	max-width: 620px;
	height: 400px;
	border-radius: 14px;
	transition: all 150ms ease-out;
}

.right {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img {
	background-color: rgb(var(--layer-color));
	width: 100%;
	height: 100%;
	border-radius: 14px;
}

.title {
	position: relative;
	width: fit-content;
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.title::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--meteorite-color);
	transition: 200ms all linear;
}
.description {
	max-height: 300px;
	overflow: hidden;
	font-size: 0.9rem;
	opacity: 0;
	transition: all 200ms linear 250ms;
}

.description p::first-letter {
	color: var(--meteorite-color);
	letter-spacing: 0.2rem;
	font-weight: bold;
	font-size: 1rem;
}

/* reverse features */

.wrapper:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	text-align: right;
}

.wrapper:nth-child(even) .description {
	text-align: right;
}

.wrapper:nth-child(even) .title {
	margin-left: auto;
	text-align: right;
}

.wrapper:nth-child(even) .title::before {
	right: 0;
	left: inherit;
}

#id {
	scroll-behavior: smooth;
}

/* inView animations  */

.inView .left {
	border-radius: 14px;
	box-shadow: -15px -15px 0 var(--meteorite-color);
	transition: all 200ms ease-out;
}

.inView .title::before {
	width: 80%;
	transition: 200ms all linear;
}

.inView .description {
	opacity: 1;
	transition: all 200ms linear 250ms;
}

/* reverse  */
.inView:nth-child(even) .left {
	box-shadow: 15px 15px 0 var(--meteorite-color);
}

/* media queries */

@media (max-width: 1024px) {
	.container {
		gap: 0px;
	}
	.wrapper {
		flex-wrap: wrap;
	}

	.right {
		height: fit-content;
		justify-content: flex-start;
	}
}
