/* title container section  */

.hero__titles {
	max-width: 95%;
	width: 100%;
	height: 100%;
}

/* main title section  */

.hero__maintitle {
	text-align: center;
}

.hero__maintitle h1 {
	font-size: 6rem;
	font-weight: 700;
	color: white;
}

.hero__maintitle__arya {
	background-image: -webkit-linear-gradient(
		25deg,
		var(--lavender-color),
		var(--meteorite-color)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 2rem;
}

/* subtitle section */

.hero__subtitle h1 {
	font-size: 1.8rem;
	font-weight: 300;
	color: color-mix(in srgb, var(--white-color), black 25%);
}

.hero__subtitle:first-child {
	position: relative;
	text-align: left;
}

.hero__subtitle:last-child {
	text-align: right;
	position: relative;
}
