/* title container section  */

.hero__titles {
	max-width: 1800px;
	width: 100%;
}

/* main title section  */

.hero__maintitle {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto 0 auto;
}

.hero__maintitle h1 {
	/* background-color: green; */
	font-size: 8rem;
	font-weight: 300;
	/* background-color: red; */
}

.hero__maintitle button {
	position: relative;
	top: -15px;
	left: 40px;
}

.hero__maintitle__arya {
	color: var(--lavender-color);
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 2px;
	letter-spacing: 2rem;
	font-weight: 800;
}

.hero__maintitle__span:nth-child(1) {
	text-align: center;
	display: block;
	/* background-color: red; */
}

.hero__maintitle__span:nth-child(2) {
	/* background-color: green; */
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: right;
}

.hero__maintitle__span:nth-child(3) {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	/* background-color: red; */
	display: block;
}

/* subtitle section */

.hero__subtitle h1 {
	font-size: 2rem;
	font-weight: 300;
}

.hero__subtitle:first-child {
	position: relative;
	text-align: left;
}

.hero__subtitle:last-child {
	text-align: right;
	position: relative;
}
