.services__wrapper {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	flex-wrap: nowrap;
	overflow: hidden;
	scroll-behavior: smooth;
}

.services__wrapper article {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	background-color: #fafafa;
	border-radius: 14px;
	min-width: 350px;
	max-width: 350px;
	height: 350px;
	text-align: left;
	overflow: hidden;
}

.services__wrapper article::before {
	position: absolute;
	content: "";
	background-color: white;
	top: 0;
	width: 100%;
	height: 350px;
	translate: 0px -350px;
	transition: all 250ms linear;
}

.services__wrapper article[data-sub="true"]::before {
	position: absolute;
	content: "";
	background: linear-gradient(
		-135deg,
		var(--meteorite-color) 20%,
		var(--lavender-color) 80%
	);
	top: 0;
	width: 100%;
	height: 350px;
	translate: 0px -350px;
	transition: all 250ms linear;
}

.services__wrapper article:hover::before {
	translate: 0px 0px;
	transition: all 250ms linear;
}

.services__wrapper article:hover {
	cursor: pointer;
	border-radius: 14px 14px 0 14px;
}

.services__wrapper article:hover .article__more {
	opacity: 1;
	transition: all 0ms linear 200ms;
}

.services__wrapper article div {
	position: relative;
	padding: 0 20px 0 20px;
	z-index: 200;
}

/* article header  */

.article__img {
	margin-top: 20px;
}

.article__title {
	/* margin-top: -20px; */
	transition: all 150ms linear;
}

.article__content {
	transition: all 150ms linear;
}

.services__wrapper article:hover .article__title {
	margin-top: -20px;
	transition: all 150ms linear;
}

.services__wrapper article:hover .article__content {
	margin-top: -40px;
	transition: all 150ms linear;
}

.article__more {
	opacity: 0;
	background-color: #fafafa;
	width: fit-content;
	margin-left: auto;
	display: flex;
	align-items: center;
	height: 100%;
	transition: all 150ms linear;
	border-radius: 14px 0 0 0;
}
