.container {
	margin-top: 10px;
	margin-left: 60px;
	margin-bottom: 20px;
}

.container p {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
}

.media {
	margin-top: 10px;
	display: flex;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
	gap: 2px;
	height: fit-content;
	margin-bottom: 10px;
	border-radius: 8px;
}
.media img {
	border-radius: 8px;
	width: 100%;
	max-width: fit-content;
	height: 200px;
	object-fit: cover;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.repost {
	margin-top: 10px;
	border: 1px solid rgba(var(--layer-color));

	padding: 15px;
	border-radius: 8px;
}
.repost .content {
	margin-left: 5px;
}

.user {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.user img {
	border-radius: 50%;
}
.user div {
	display: flex;
	flex-direction: column;
}
.user span:nth-child(1) {
	font-weight: 600;
	font-size: 0.9rem;
}
.user span:nth-child(2) {
	color: var(--meteorite-color);
	font-size: 0.8rem;
	font-weight: 600;
}
.user span:nth-child(3) {
	margin-top: 2px;
	font-size: 0.7rem;
	font-weight: 300;
}

.reactions {
	margin-top: 15px;
}
.reactions ul {
	display: flex;
	align-items: center;
	gap: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 0.8rem;
	/* background-color: red; */
}

.reactions ul li:nth-child(1) {
	display: flex;
	align-items: center;
	gap: 0px;
}

.reactions ul li:nth-child(1) img:nth-child(1) {
	position: relative;
	z-index: 1000;
}
.reactions ul li:nth-child(1) img:nth-child(2) {
	position: relative;
	z-index: 999;
	left: -5px;
}
.reactions ul li:nth-child(1) img:nth-child(3) {
	position: relative;
	z-index: 998;
	left: -10px;
}
.reactions ul li:nth-child(1) span {
	position: relative;
	left: -12px;
}
.reactions ul li:nth-child(1) img:nth-child(4) {
	position: relative;
	left: -15px;
}
.reactions ul li:nth-child(2) {
	display: flex;
	align-items: center;
}
.reactions ul li:nth-child(3) {
	width: 100%;
	text-align: right;
}
