.wrapper {
	position: relative;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid color-mix(in srgb, white, black 10%);
	background-color: #f9f9f9;

	transition: 150ms all linear;
}
.wrapper[data-type="comment"] {
	/* background-color: inherit; */
}
.wrapper:hover {
	/* background-color: rgba(0, 0, 0, 0.15);
	transition: 150ms all linear; */
}
